@page "/Registro/Index"
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>
<div class="container">
    <div class="shadow-lg">

        @*Header*@
        <div class="card-header">
            <h5>Registro</h5>
        </div>

        @*Body*@
        <div class="card-body">

            <a href="/Registro/Create" class="btn btn-primary">
                <span class="bi bi-plus-square-fill-nav-menu mt-3"></span> Crear
            </a>

            @*Tabla*@
            <table class="table table-bordered mt-4">
                <thead class="table table-striped">
                    <tr>
                        <td>Observar</td>
                        <td>Editar</td>
                        <td>Eliminar</td>
                    </tr>
                </thead>

                <tbody>

                    @*Observar*@
                <td class="text-center">
                    <a href="#" class="btn bi bi-eye"></a>
                </td>

                    @*Editar*@
                <td class="text-center">
                    <a href="#" class="btn bi bi-pencil"></a>
                </td>

                    @*Eliminar*@
                <td class="text-center">
                    <a href="#" class="btn bi bi-trash"></a>
                </td>

                <a href="#"
                   class="btn btn-primary"
                    <span class="bi bi-floppy mt-3"></span>Guardar
                </a>

                <a href="#"
                   class="btn btn-primary"
                    <span class="bi bi-arrow-left mt-3"></span>Volver
                </a>
                </tbody>
            </table>
        </div>
        @*Footer*@
        <div class="card-footer">

        </div>
    </div>
</div>

@code {

}
