@page "/Cobro/Details/{CobroId:int}"
@inject CobroService cobroService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Delete</PageTitle>
<div class="container">
    <div class="shadow-lg">
        @*Header*@
        <div class="card-header text-center">
            <h3><strong>Detalle del cobro</strong></h3>
        </div>

        @*Body*@
        <div class="card-body">
            <ul class="mt-4">
                <li><strong>CobroId: </strong>@Cobro.CobroId</li>
                <li><strong>Deudor: </strong>@Cobro.Deudores.Nombres</li>
                <li><strong>Fecha: </strong>@Cobro.Fecha</li>
                <li><strong>Monto: </strong>@Cobro.Monto</li>

            </ul>
        </div>
        @*Footer*@
        <div class="card-footer">
            <button type="button" class="btn btn-primary bi bi-arrow-left mt-3" @onclick="Volver">Volver</button>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public int CobroId { get; set; }
    public Cobros Cobro { get; set; } = new Cobros();
    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Cobro = await cobroService.Buscar(CobroId);
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Cobro/Index");
    }
}
